.detail-form-wrapper {
  width: calc(100vw - 48px);
  height: calc(100vh - 88px);
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 56px;
  z-index: 5;
  padding: 16px 24px;
  /* overflow: hidden; */
}
