.detail-form-wrapper {
  width: calc(100vw - 48px);
  height: calc(100vh - 88px);
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 56px;
  z-index: 5;
  padding: 16px 24px;
  /* overflow: hidden; */
}
.form-header {
  height: 36px;
  padding-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-back {
  height: 24px;
  width: 24px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
  -webkit-mask-position: -48px -48px;
  background-color: #666;
  margin-right: 12px;
  cursor: pointer;
}

h2 {
  margin: 0;
}
.list__header {
  margin-right: 16px;
}
.form-body {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #eeeeee;
  border-radius: 4px;
}

.form-main {
  min-height: 590px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-note {
  min-height: 260px;
  background-color: #fff;
  border-radius: 4px;
}
.form-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}
.form-field label {
  width: 33.333% !important;
  display: flex;
  align-items: center;
  height: 36px;
}
label ~ * {
  margin-top: 0px!important;
}
.form-field > div {
  width: 66.666%;
}
.form-list {
  width: 100%;
}
.add__wrapper {
  display: flex;
  align-items: center;
}
.add__wrapper span{
  margin-right: 15px;
  
}
.add__button {
  width: auto !important;
  height: 38px !important;
  border-radius: 4px;
  padding: 0px;
  min-width: 0px !important;
  float: none;
  cursor: pointer;
  font-weight: 700;
  color: #ec5504;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
}
.add__icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  text-align: center;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/timesheet/static/img/Icon.b444e1e.svg);
  -webkit-mask-position: -192px -24px;
  background-color: #ec5504 !important;
}
.add__button span {
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
}

.add__table {
  margin-top: 20px;
  /* height: 300px; */
}
.add__table > div {
  max-height: 335px;
}