button + button {
  margin-left: 10px;
}

table th {
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-top: none;
}

td {
  border-right: 1px dotted #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

table {
  border-left: none;
  border-right: none;
}
.table__container {
}
.page__table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#tbEmployeeList {
  width: 100%;
}

.table__header th {
  background-color: #eceef1;
  text-transform: uppercase;
}

#editButton {
  border: none;
  background-color: inherit;
  font-size: 13px;
  color: #0075c0;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.page__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.add-button {
  width: auto !important;
  height: 36px !important;
  border-radius: 4px 0px 0px 4px;
  padding: 0px 16px 0px 12px;
  min-width: 0px !important;
  border-color: #ec5504;
  background-color: #ec5504;
  color: #fff;
  display: flex;
  border-style: none;
  align-items: center;
}
.add-button:hover {
  background-color: #fa6000;
}

.add-button span {
  font-weight: 500;
}

.add-icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  text-align: center;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #fff !important;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
  -webkit-mask-position: -192px -24px;
}
.div-division {
  height: 36px;
  width: 1px;
  background-color: #ec5504 !important;
}
.div-division-child {
  height: 20px;
  width: 1px;
  background-color: #fff;
}
.dropdown-button {
  width: 36px !important;
  height: 36px !important;
  border-radius: 0px 4px 4px 0px;
  padding: 6px 5px;
  min-width: 0px !important;
  background-color: #ec5504;
  border-color: #ec5504;
  border-style: none;
}
.dropdown-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  display: block;
  position: relative;
  background-color: #fff !important;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
  -webkit-mask-position: -192px 0px;
  width: 24px;
  height: 24px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-selected-toolbar {
  height: 38px;
}
.table-selected-toolbar > span {
  margin-right: 24px;
}
.table-selected-toolbar button {
  width: auto !important;
  height: 36px !important;
  border-radius: 4px;
  padding: 0px 16px 0px 12px;
  min-width: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-selected-toolbar button span {
  white-space: nowrap;
  font-weight: 500;
}
.denine-button {
  color: #f44336 !important;
  border: 1px solid #f44336 !important;
  background-color: #fff !important;
}
.denine-button:hover {
  background-color: #fee8e7 !important;
  border: 1px solid #d81010 !important;
}
.denine-icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://testcdnamisapp.misa.vn/apps/timesheet/static/img/Icon.b444e1e.svg) -168px -96px
    no-repeat;
}
.approve-button {
  color: #00c853 !important;
  border: 1px solid #00c853 !important;
  background-color: #fff !important;
}
.approve-button:hover {
  background-color: #b9f8e4 !important;
  border: 1px solid #0f996d !important;
}
.approve-icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://testcdnamisapp.misa.vn/apps/timesheet/static/img/Icon.b444e1e.svg) -192px -96px
    no-repeat;
}

.export-button {
  background-color: #fff;
  color: #212121;
  border: 1px solid #ddddeb;
}
.export-button:hover {
  background-color: #eae6ff;
  color: #1f1f23;
  border: 1px solid #ddddeb;
}
.export-icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  text-align: center;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(https://testcdnamisapp.misa.vn/apps/timesheet/static/img/Icon.b444e1e.svg);
  background-color: #666!important;
}
.delete-all-button {
  background-color: #fff;
  color: #ef292f;
  border: 1px solid #ef292f;
}
.delete-all-button:hover {
  background-color: #fee8e7;
  color: #ef292f;
  border: 1px solid #ef292f;
}
.delete-all-icon {
  font-size: 16px;
  color: white;
  cursor: pointer;
  order: 0;
  margin-right: 4px;
  margin-left: 0px;
  text-align: center;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(https://testcdnamisapp.misa.vn/apps/timesheet/static/img/Icon.b444e1e.svg) -168px -24px no-repeat;
}
