.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  background-color: #e9ebee;
  width: calc(100% - 178px);
}

.page__header-title {
}

.page__header-button {
}

.page__toolbar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
}
.page__toolbar--left-container {
  width: 320px;
  height: 34px;
  border-radius: 4px;
}
.page__toolbar--left {
  width: 320px;
  height: 34px;
  display: flex;
  align-items: center;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0 8px;
}
.input--placeholder {
  /* width: 100px; */
  pointer-events: none;
  position: absolute;
  left: 85px;
  color: #c6c9d6;
  font-weight: 300;
}
.page__toolbar--left-container :hover {
  border: 1px solid #ec5504;
}

.page__toolbar--left i {
  /* cursor: pointer; */
  color: #afb3c1;
  text-align: center;
  font-size: 16px;
  display: block;
  margin-right: 8px !important;
  width: 30px;
  height: 24px;
  background: url(../../assets/Icon.ad7c4b8.svg) no-repeat -120px -24px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
  -webkit-mask-position: -120px 0;
  background-color: #666 !important;
}

.page__toolbar--left:focus-within {
  border: 1px solid #ec5504;
}
.page__toolbar--left i,
input:not([type="checkbox"]):hover {
  border: none !important;
}
.page__toolbar--left input {
  height: calc(100% - 2px);
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  --text-placeholder-color: #666;
}

.page__toolbar--search button {
  background-color: inherit;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  transform: translate(-100%);
}
.page__toolbar--right {
  display: flex;
  justify-content: space-between;
}

.page__toolbar--reload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.toolbar__dropdown {
  background: transparent;
  color: #212121;
  position: relative;
  display: inline-block;
  border: 0;
  cursor: pointer;
  padding: 0 !important;
  outline: none;
  text-transform: none;
  text-decoration: none;
  height: 36px;
  font-size: 14px;
}
.toolbar__dropdown > div {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.toolbar__dropdown span {
  color: gray;
  margin-right: 6px;
}

.dropdown-icon-container {
  width: 34px;
  height: 34px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mi-chevron-down {
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px -48px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
  background-color: #666 !important;
}
.department__selectbox {
  width: 320px;
  display: flex;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  margin-right: 8px;
}
.dx-overlay-content.dx-popup-normal.dx-resizable.dx-popup-flex-height {
  width: auto!important;
}
.dropdown-menu-department {
  padding:16px;
}
.dx-dropdowneditor.dx-dropdowneditor-field-clickable, .dx-dropdowneditor.dx-dropdowneditor-field-clickable .dx-texteditor-input {
  width: 100%;
}
.btn-sidebar {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-right: 8px;
}
.btn-sidebar:last-of-type {
  margin: 0;
}
.btn-sidebar:hover {
  border: 1px solid #ec5504;
  cursor: pointer;
}

.btn-sidebar:hover .mi-refresh,.btn-sidebar:hover  .mi-export,.btn-sidebar:hover  .mi-filter,.btn-sidebar:hover  .mi-setting {
  background-color: #ec5504;
}
.filterDisabled {
  background-color: rgba(232,234,239,.56)!important;
  color: #212121!important;
  border: 1px solid rgba(218,220,227,.56)!important;
}
.filterDisabled .mi-refresh,.filterDisabled  .mi-export,.filterDisabled  .mi-filter,.filterDisabled  .mi-setting {
  background-color: #aaa!important;
  cursor: default;
}
.mi-refresh {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  background-color: #666 ;
  -webkit-mask-position: -48px 0px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
}
.mi-filter {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  background-color: #666 ;
  -webkit-mask-position: -240px -48px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
}
.mi-export {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  background-color: #666;
  -webkit-mask-position: -24px -24px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
}
.mi-setting {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  background-color: #666;
  -webkit-mask-position: -216px -24px;
  -webkit-mask-image: url(../../assets/Icon.ad7c4b8.svg);
}

.page__table {
  background-color: #fff;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 4px;
}
.page__header--title {
  font-weight: 700;
  color: #111;
}
.page__footer {
}
